<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body class="main_font">

<link rel="stylesheet" href="../css/LJH/order_end.css">
<!--+++++++++++++++++++++++++++++++++++-->
<!-- main 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->
    <main> 
        <div style="margin-left: 300px;">
                <div class="order_fin">
                    주문완료
                </div>
                        <div class="main_line"></div>
                <div class="order_fin_memo">
                    주문이 완료 되었습니다. 감사합니다!   
                <img src="../images/gift_box_icon.png" width="35;">
                </div>
        </div>
        <div>
             <button type="submit" class="go_item" style="float: left; margin-left: 700px; ">
                <strong><a href="http://www.naver.com">주문내역 확인</strong></a>
             </button>
        </div>
        <div>
             <button type="submit" class="go_item" style=" margin-right: 700px;  ">
                <strong><a href="http://www.naver.com">홈으로 가기</strong></a>
             </button>
        </div>
    </main>
<!--+++++++++++++++++++++++++++++++++++-->
<!-- footer 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->

    
</body>
</html>