<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>주문결제</title>
</head>
<body>
<div th:text="${account.getName()}">사용자 이름</div>
<div th:text="${account.getPhone()}">번호</div>
<div th:text="${account.getEmail()}">이메일</div>

<form th:action="@{/order/payment}" method="post" th:object="${orderForm}" >

    <div>

        <div>주소</div>
<!--        <input type="text"/>-->
    </div>

    <div>
<!--        <div th:text="${item.getName()}"></div>-->
        <label th:for="itemName">선택한 상품 이름</label>
        <input name="itemName" type="text" th:value="${item.getName()}">
    </div>
    <div>
        <div>상품가격</div>
<!--        <div th:text="${item.getPrice()}"></div>-->
        <input name="price" type="text" th:value="${item.getPrice()}">

    </div>
    <div>
        <div>수량</div>
<!--        <div th:text="${amount}"></div>-->
        <input name="amount" type="text" th:value="${amount}">

    </div>
    <div>
        <div>총 결제 금액</div>
        <div th:text="${item.getPrice() * amount} + 원"></div>

    </div>

    <button type="submit">submit</button>

</form>
</body>
</html>