<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="payment.css" />
  </head>
  <body>
    <div>주문결제</div>
    <div class="all-form">
      <div style="background-color: blue"></div>
      <div style="background-color: white">
        <div class="customer">
          <div class="sub_line"></div>
          <div><h2>주문고객</h2></div>
          <div class="order">
            <div>이름</div>
            <div>번호</div>
            <div>이메일</div>
          </div>
        </div>
        <div class="sub_line"></div>
        <!---------------------------------------------------------->
        <div class="customer">
          <div><h2>배송지 정보</h2></div>
        </div>
        <div class="customer">
          <input
            type="radio"
            name="delivery"
            id="delivery"
            value="1"
            checked="checked"
          />기존 배송지
          <div>
            <div class="input_name">
              <input
                type="text"
                class="sub1"
                name="address_input"
                placeholder="이름"
              />

              <input
                type="text"
                class="sub1"
                name="address_input"
                placeholder="전화 번호"
              />

              <input
                type="text"
                class="sub2"
                name="address_input"
                placeholder="주소"
              />

              <input
                type="text"
                class="sub2"
                name="address_input"
                placeholder="상세주소"
              />
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: chocolate"></div>
      <div style="background-color: crimson"></div>
      <div style="background-color: darkgreen"></div>
    </div>
  </body>
</html>
