<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>주문결제</title>
</head>
<body>
<div th:text="${account?.getName()}">사용자 이름</div>
<div th:text="${account?.getPhone()}">번호</div>
<div th:text="${account?.getEmail()}">이메일</div>

<form th:action="@{/order/payment}" th:object="${orderForm}" method="post">
    <input type="hidden" th:name="itemId" th:value="${item.id}">
    <div>
        <div>주소</div>
        <input type="text"/>
    </div>

    <div>
        <label th:for="itemName">선택한 상품 이름</label>
        <input name="itemName" type="text" th:value="${item.getName()}">
    </div>

    <div>
        <div>상품가격</div>
        <div th:text="${item.getPrice()}"></div>
        <input name="price" type="text" th:value="${item.getPrice()}">
    </div>

    <div>
        <div>수량</div>
        <div th:text="${orderForm.getAmount()}"></div>
        <input name="amount" type="text" th:field="*{amount}" th:value="${orderForm.getAmount()}">
    </div>

    <div>
        <div>상품 사이즈</div>
        <div th:text="${orderForm.getOrderItemSize()}"></div>
        <input name="orderItemSize" type="text" th:field="*{orderItemSize}" th:value="${orderForm.getOrderItemSize()}">
    </div>

    <div>
        <div>총 결제 금액</div>
        <div th:text="${item.getPrice() * orderForm.getAmount()} + 원"></div>
    </div>

    <button type="submit">submit</button>
</form>

</body>
</html>
