<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- header nav css 수입경로-->
  <div th:replace="fragments.html :: fragment-header-navbar"></div>
  <!-- footer css 수입경로 -->
  <div th:replace="fragments.html :: fragment-footer-css"></div>
  <link rel="stylesheet" href="/css/kjh/side_mypage.css">
  <link rel="stylesheet" href="/css/kjh/as_infoguide.css">
    <style></style>
  </head>
  <body>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <header th:replace="fragments.html :: nav-bar"></header>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <main>
      <div class="all_form">
        <!--왼쪽여백-->
        <div></div>
        <!-- 왼쪽 카테고리 바-->
        <div class="side_mypage">
          <h2><a th:href="@{/myPage/side_mypage}">My PAGE</a></h2>
          <div class="bottom_line"></div>
          <div th:replace="fragments :: userId"></div>
          <ul>
            <li class="listyle">
              <h4>쇼핑정보</h4>
              <ul>
                <li><a href="/myPage/coupon">쿠폰</a></li>
                <li><a href="/myPage/order_delivery">주문배송</a></li>
                <li><a href="/myPage/return_cancle">취소/반품</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>나의정보</h4>
              <ul>
                <li><a href="/myPage/pwd_change">비밀번호 변경</a></li>
                <li><a href="/myPage/withdrawal">회원탈퇴</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>A/S 신청.조회</h4>
              <ul>
                <li><a href="/myPage/as_infoguide">접수 안내</a></li>
                <li><a href="/myPage/asview">as 신청</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>고객센터</h4>
              <ul>
                <li>
                  <a href="">1:1 채팅 문의</a>
                </li>
                <li><a href="">1:1 E-mail 문의</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <h4>나이키닷컴고객센터</h4>
            <h3>080-022-0182</h3>
            <p>월~일:오전 9시 ~ 오후 8시</p>
            <div class="bottom_line"></div>
          </ul>
        </div>
        <!-- 카테고리 메인 -->
        <div class="as_receipt_guide">
          <div class="customer-contents">
            <h2 class="title">
              <span>A/S 접수 안내</span>
            </h2>

            <div class="as_info_layout">
              <h3 class="s_title">
                <span>A/S 접수 방법</span>
              </h3>

              <h4 class="con_title">
                <span>.나이키닷컴에서 구매하신 경우</span>
              </h4>
              <p>
                나이키닷컴에서 구매하신 상품인 경우 온라인으로 A/S신청과 상품
                수거 및 배송. 수선비 결제 등 편리하게 이용하실수 있습니다.
              </p>

              <h4 class="con_title">
                <span>.매장에서 구매하신 경우</span>
              </h4>
              <p>
                고객님께서 구매해주신 매장을 통해 수선의뢰 및 수선비 결제가
                가능하며, 수선안내를 받으실 수 있습니다.
              </p>

              <p>
                ※더 자세한 내용은 FAQ A/S 가이드를 통해 확인하실 수 있습니다.
                <a href="/cs/asview">FAQ 바로가기 ▶</a>
              </p>
              <p>
                ※수선 관련 문의는 고객센터(080-022-0182) 또는
                <a href="">1:1 Email</a> 문의를 통하여 문의 부탁 드립니다.
              </p>

              <h4 class="con_title">
                <span>NIKE.COM 을 통한 A/S접수</span>
              </h4>
              <ul class="as_repair_list">
                <li>
                  최근 2년이내 NIKE.COM에서 구매하신 제품에 한하여 A/S 접수가
                  가능합니다.
                </li>
                <li>AS 신청은 제품수령 후 가능합니다.</li>
                <li>
                  NIKE.COM에서는 제품을 구매하신 뒤 품질에 이상이 있는 경우
                  온라인 A/S 정책에 따라 서비스를 제공해 드리고 있습니다..
                </li>
              </ul>

              <h4 class="con_title">
                <span>A/S 수선 기간</span>
              </h4>
              <ul class="as_repair_list">
                <li>A/S 수선 기간은 접수일 기준 15~20일 가량 소요됩니다.</li>
                <li>
                  제품 불량으로 인한 반품판정 시 환불 처리 기간은 판정완료 후 약
                  1주일 정도 소요됩니다.
                </li>
              </ul>

              <h4 class="con_title">
                <span>A/S 수선 범위</span>
              </h4>
              <ul class="as_repair_list">
                <li>
                  동일한 원단, 부자재를 활용하여 최대한 원상 복구 수선을
                  원칙으로 합니다.
                </li>
                <li>
                  수선이 불가한 상품이거나 수선 효과를 기대하기 어려울 경우
                  반송됩니다.
                </li>
              </ul>

              <h4 class="con_title">
                <span>A/S 판정기준</span>
              </h4>
              <p>
                A/S 판정은 나이키 소비자 상담실에서 이루어지며 판정결과는
                품질보증기간 및 내용 연수 경과 여부, 제품 하자 여부, 소비자 과실
                여부에 따라 결정됩니다.
              </p>
              <p>
                판정결과에 따라 수선비용이 부가될 수 있으며 제품 수선이 불가능할
                경우에는 반품 또는 회송이 이루어집니다
              </p>

              <!-- table -->
              <div class="as_judgment_standard">
                <table>
                  <colgroup>
                    <col width="16%" />
                    <col width="16%" />
                    <col width="16%" />
                    <col width="16%" />
                    <col width="16%" />
                    <col width="16%" />
                  </colgroup>
                  <caption>
                    A/S 판정기준
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col" colspan="2" rowspan="2">기준</th>
                      <th scope="col" colspan="4">판정결과</th>
                    </tr>
                    <tr>
                      <th scope="col" colspan="2">수선 가능시</th>
                      <th scope="col" colspan="2">수선 불가시</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="col" rowspan="2">품질보증기간이내</th>
                      <td>제품 하자 시</td>
                      <td>무상수선</td>
                      <td></td>
                      <td>보상</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>소비자 과실 시</td>
                      <td></td>
                      <td>유상수선</td>
                      <td></td>
                      <td>회송</td>
                    </tr>
                    <tr>
                      <th scope="row" rowspan="2">
                        품질보증기간 경과 및<br />내용연수 이내
                      </th>
                      <td>제품 하자 시</td>
                      <td></td>
                      <td>유상수선</td>
                      <td>보상(감가적용)</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>소비자 과실 시</td>
                      <td></td>
                      <td>유상수선</td>
                      <td></td>
                      <td>회송</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <p>
                유상수선 판정시 고객님으로부터 수선비 결제 또는 입금이 완료된 후
                제품이 발송됩니다.
              </p>
              <p>
                단, A/S 접수 후 1개월 이내에 유상수리비가 결제 또는 입금되지
                않을 경우 NIKE.COM은 향후 제품 분실에 대한 책임은 지지 않습니다.
              </p>

              <h4 class="con_title">
                <span>A/S 제품 택배비용 안내</span>
              </h4>
              <p>
                A/S 제품 수거는 무료 서비스로 제공하고 있으며, 수선완료 후 제품
                발송비용에 대해서는 A/S 판정결과에 따라 아래와 같이 차별적으로
                부가됩니다.
              </p>

              <div class="as_judgment_standard">
                <table>
                  <colgroup>
                    <col width="20%" />
                    <col width="20%" />
                    <col width="20%" />
                    <col width="20%" />
                    <col width="20%" />
                  </colgroup>
                  <caption>
                    A/S 택배비용
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">판정결과</th>
                      <th scope="col">무상 수선시</th>
                      <th scope="col">유상 수선시</th>
                      <th scope="col">보상</th>
                      <th scope="col">회송</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">수거비용</th>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">발송비용</th>
                      <td>무료</td>
                      <td>무료</td>
                      <td>무료</td>
                      <td>무료</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>
                택배비용 유료 판정시 택배비 결재 및 입금이 완료된 후 제품이
                발송됩니다. 단, A/S 접수 후 1개월 이내에 택배비용이 결제 또는
                입금되지 않을 경우 NIKE.COM는 향후 제품 분실에 대한 책임은 지지
                않습니다.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- footer 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <footer th:replace="fragments.html :: footer-body">
    </footer>

  </body>
</html>
