<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- header nav css 수입경로-->
  <div th:replace="fragments.html :: fragment-header-navbar"></div>
  <!-- footer css 수입경로 -->
  <div th:replace="fragments.html :: fragment-footer-css"></div>
  <link rel="stylesheet" href="css/kjh/side_mypage.css">
  <link rel="stylesheet" href="css/kjh/pwd_change.css">
  <script src="/js/login.js"></script>
  <style></style>
</head>
  <script>
    $(document).ready(function () {
      var pwd_need1 = $("#pwd_need1");
      var pwd_need2 = $("#pwd_need2");
      var pwd_need3 = $("#pwd_need3");
      var pwd_check2 = $("#pwd_check2");
      var pwd_check3 = $("#pwd_check3");

      $("#current_pwd").keyup(function () {
        if ($("#current_pwd").val().split(" ").join("") == "") {
          pwd_need1.show();
        }
        else {
          $(".current_pwd").css("border", "1px solid black");
          pwd_need1.hide();
        }
      });

      $("#new_pwd").keyup(function () {
        if ($("#new_pwd").val().split(" ").join("") == "") {
          pwd_check2.hide();
          pwd_need2.show();
        }
        else if (checkPwd($("#new_pwd").val()) == false) {
          $(".new_pwd").css("border-color", "red");
          pwd_need2.hide();
          pwd_check2.show();
        } else {
          $(".new_pwd").css("border", "1px solid black");
          pwd_check2.hide();
          pwd_need2.hide();
        }
      });
      $("#new_pwd_check").keyup(function () {
        if ($("#new_pwd_check").val().split(" ").join("") == "") {
          pwd_check3.hide();
          pwd_need3.show();
        }
        else if ($("#new_pwd").val() != $("#new_pwd_check").val()) {
          $(".new_pwd_check").css("border-color", "red");
          pwd_need3.hide();
          pwd_check3.show();
        } else {
          $(".new_pwd_check").css("border", "1px solid black");
          pwd_check3.hide();
          pwd_need3.hide();
        }
      });
    });

    function checkForm() {
      var pwd_need1 = $("#pwd_need1");
      var pwd_need2 = $("#pwd_need2");
      var pwd_need3 = $("#pwd_need3");
      var pwd_check2 = $("#pwd_check2");
      var pwd_check3 = $("#pwd_check3");

      var cpwd = $(".current_pwd").val();
      var pwd = $(".new_pwd").val();
      var pwd2 = $(".new_pwd_check").val();

      if (
        cpwd.split(" ").join("") === "" &&
        pwd.split(" ").join("") === "" &&
        pwd2.split(" ").join("") === ""
      ) {
        pwd_need1.show();
        pwd_need2.show();
        pwd_need3.show();
        $(".current_pwd").focus();
        $(".current_pwd").css("border-color", "red");
        $(".new_pwd").css("border-color", "red");
        $(".new_pwd_check").css("border-color", "red");
        return;
      }

      if (pwd.split(" ").join("") === "") {
        $(".new_pwd").css("border-color", "red");
        pwd_need2.show();
        $(".new_pwd").val("");
        $(".new_pwd").focus();
        return;
      } else if (pwd.split(" ").join("") !== "") {
        if (checkPwd($(".new_pwd").val()) === false) {
          $(".new_pwd").css("border-color", "red");
          pwd_check2.show();
          $(".new_pwd").focus();
          return;
        } else {
          pwd_check2.hide();
          $(".new_pwd").css("border", "1px solid black");
        }
      }

      if (pwd2.split(" ").join("") === "") {
        $(".new_pwd_check").css("border-color", "red");
        pwd_need3.show();
        $(".new_pwd_check").val("");
        $(".new_pwd_check").focus();
        return;
      } else if (pwd2.split(" ").join("") !== "") {
        if ($(".new_pwd").val() !== $(".new_pwd_check").val()) {
          $(".new_pwd_check").css("border-color", "red");
          pwd_check3.show();
          $(".new_pwd_check").focus();
          return;
        } else {
          pwd_check3.hide();
          $(".new_pwd_check").css("border", "1px solid black");
          document.pwd_change_form.submit();
        }
      }
    }
  </script>
  <body class="jb_font-1">
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <header th:replace="fragments.html :: nav-bar"></header>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <main>
      <div class="all_form">
        <!--왼쪽여백-->
        <div></div>
        <!-- 왼쪽 카테고리 바-->
        <div class="side_mypage">
          <h2>My PAGE</h2>
          <div class="bottom_line"></div>
          <div th:replace="fragments :: userId"></div>
          <ul>
            <li class="listyle">
              <h4>쇼핑정보</h4>
              <ul>
                <li><a href="coupon">쿠폰</a></li>
                <li><a href="order_delivery">주문배송</a></li>
                <li><a href="return_cancle">취소/반품</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>나의정보</h4>
              <ul>
                <li><a href="pwd_change">비밀번호 변경</a></li>
                <li><a href="withdrawal">회원탈퇴</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>A/S 신청.조회</h4>
              <ul>
                <li><a href="as_infoguide">접수 안내</a></li>
                <li><a href="asview">as 신청</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <li class="listyle">
              <h4>고객센터</h4>
              <ul>
                <li>
                  <a href="">1:1 채팅 문의</a>
                </li>
                <li><a href="">1:1 E-mail 문의</a></li>
              </ul>
            </li>
            <div class="bottom_line"></div>
            <h4>나이키닷컴고객센터</h4>
            <h3>080-022-0182</h3>
            <p>월~일:오전 9시 ~ 오후 8시</p>
            <div class="bottom_line"></div>
          </ul>
        </div>
        <!-- 카테고리 메인 -->
        <div class="warp">
          <div class="title">
            <h2>비밀번호 변경</h2>
          </div>
          <div style="width: 50%; text-align: left">
            <!-- -------------------------------------------------- -->
            <!-- DB에 저장된 기존 패스워드와 맞지 않을시에 보여주기 -->
<!--            <div class="alert_danger1">-->
<!--              <div>패스워드가 맞지 않습니다. 다시 입력해주세요.</div>-->
<!--            </div>-->

            <!-- -------------------------------------------------- -->
            <!-- DB에 저장된 기존 패스워드와 일치 하였을때 보여주기 -->
<!--            <div class="alert_danger2">-->
<!--              <div>기존 비밀번호와 동일하게 변경할 수 없습니다.</div>-->
<!--            </div>-->
            <!-- -------------------------------------------------- -->
            <form name="pwd_change_form" method="post" action="#" th:action="@{/pwd_change}" th:object="${checkPwdForm}">
              <div>
                <label>기존 비밀번호</label>
                <div class="info_text">
                  <input
                    type="password"
                    class="current_pwd"
                    id="current_pwd"
                    th:field="*{current_pwd}"
                    placeholder="기존 비밀번호"
                    required
                  />
                </div>
                <div>
                  <div class="pwd_need1" id="pwd_need1">
                    필수 입력 항목입니다.
                  </div>
                </div>
                <div>
                  <small class="pwd_error" th:if="${error1}" th:text="${error1}">error</small>
                </div>
                <div>
                  <small class="pwd_error" th:if="${error2}" th:text="${error2}">error</small>
                </div>
              </div>
              <div>
                <label>새 비밀번호 입력</label>
                <div class="info_text">
                  <input
                    type="password"
                    class="new_pwd"
                    id="new_pwd"
                    placeholder="새 비밀번호 입력"
                    required
                  />
                </div>
                <div>
                  <div class="pwd_need2" id="pwd_need2">
                    필수 입력 항목입니다.
                  </div>
                  <div class="pwd_check2" id="pwd_check2">
                    영문 대 or 소문자 + 숫자 8~16자리
                  </div>
                </div>
              </div>
              <div>
                <label>새 비밀번호 확인</label>
                <div class="info_text">
                  <input
                    type="password"
                    class="new_pwd_check"
                    id="new_pwd_check"
                    th:field="*{new_pwd_check}"
                    placeholder="새 비밀번호 확인"
                    required
                  />
                </div>
                <div>
                  <div class="pwd_need3" id="pwd_need3">
                    필수 입력 항목입니다.
                  </div>
                  <div class="pwd_check3" id="pwd_check3">
                    새 비밀번호와 일치하지 않습니다.
                  </div>
                </div>
              </div>
            </form>
            <input type="button" class="change_pwd_btn" value="변경하기" onclick="checkForm();">

            <!--  -->
          </div>
        </div>
      </div>
      <!-- 오른쪽여백 -->
    </main>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- footer 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->

    <footer th:replace="fragments.html :: footer-body">
  </body>
</html>
