<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- header nav css 수입경로-->
  <div th:replace="fragments.html :: fragment-header-navbar"></div>
  <!-- footer css 수입경로 -->
  <div th:replace="fragments.html :: fragment-footer-css"></div>
  <link rel="stylesheet" href="css/kjh/side_mypage.css">
  <link rel="stylesheet" href="css/kjh/return_cancel.css">
  <style></style>
  </head>

  <script>
    //
    $(document).ready(function () {
      $(".dark").hide();
      $(".pop_up").hide();

      $(".btn_on").click(function () {
        $(".pop_up").show().animate({ top: "70px" }, 500);
        $(".dark").show();
      });

      $(".btn_close").click(function () {
        $(".pop_up").show().animate({ top: "0" });
        $(".pop_up").hide();
        $(".dark").hide();
      });
    });
  </script>

  <!--  -->

  <body class="jb_font-1">
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <header th:replace="fragments.html :: nav-bar"></header>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- main 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->
    <div class="all_form">
      <!--왼쪽여백-->
      <div></div>
      <!-- 왼쪽 카테고리 바-->
      <div class="side_mypage">
        <h2>My PAGE</h2>
        <div class="bottom_line"></div>
        <div th:replace="fragments :: userId"></div>
        <ul>
          <li class="listyle">
            <h4>쇼핑정보</h4>
            <ul>
              <li><a href="coupon">쿠폰</a></li>
              <li><a href="order_delivery">주문배송</a></li>
              <li><a href="return_cancle">취소/반품</a></li>
            </ul>
          </li>
          <div class="bottom_line"></div>
          <li class="listyle">
            <h4>나의정보</h4>
            <ul>
              <li><a href="pwd_change">비밀번호 변경</a></li>
              <li><a href="withdrawal">회원탈퇴</a></li>
            </ul>
          </li>
          <div class="bottom_line"></div>
          <li class="listyle">
            <h4>A/S 신청.조회</h4>
            <ul>
              <li><a href="as_infoguide">접수 안내</a></li>
              <li><a href="asview">as 신청</a></li>
            </ul>
          </li>
          <div class="bottom_line"></div>
          <li class="listyle">
            <h4>고객센터</h4>
            <ul>
              <li>
                <a href="">1:1 채팅 문의</a>
              </li>
              <li><a href="">1:1 E-mail 문의</a></li>
            </ul>
          </li>
          <div class="bottom_line"></div>
          <h4>나이키닷컴고객센터</h4>
          <h3>080-022-0182</h3>
          <p>월~일:오전 9시 ~ 오후 8시</p>
          <div class="bottom_line"></div>
        </ul>
      </div>
        <!-- 카테고리 메인 -->
        <div class="return_status">
          <h2>반품 신청</h2>
          <div class="offer_list">
            <span class="s_text"
              >반품하실 상품 또는 주문을 선택해 주세요.

              <a class="btn_on" href="#"
                >반품 가능한 주문이 없으신가요?</a
              ></span
            >

            <div style="margin: 20px 0; font-size: 13px; text-align: left">
              CJ대한통운 물류량 증가로 반품 접수건의 상품 픽업 및 반품 검수 소요
              시간이 지연될 수 있습니다.
            </div>

            <!--  아래 글이 사라지면서 반품 상품 불러오기 -->
            <div class="no_item">현재 반품 가능한 상품이 없습니다.</div>
            <!---------------------------------------------->
          </div>
          <div class="pop_up">
            <span class=>반품 가능한 주문이 없으신가요?</span>
            <a class="btn_close" href="#"></a><br />
            <div class="bottom_line2"></div>
            제품을 수령한지 7일을 초과하였거나, 7일 이내라고 하더라도 제품수령
            이후에도 배송상태가<br />
            완료되지 않을 경우 반품 가능 주문이 보이지 않을 수 있습니다.배송
            상태가 완료로 아직 변경되지<br />
            않은지 여기를 클릭해서 확인 후 직접 변경하세요
          </div>
        </div>

        <div class="dark"></div>
        <!--오른쪽 여백-->
        <div></div>
      </div>
    </main>
    <!--+++++++++++++++++++++++++++++++++++-->
    <!-- footer 부분 -->
    <!--+++++++++++++++++++++++++++++++++++-->

    <footer th:replace="fragments.html :: footer-body">
    </footer>
  </body>
</html>
