<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- header nav css 수입경로-->
    <div th:replace="fragments.html :: fragment-header-navbar"></div>
    <!-- footer css 수입경로 -->
    <div th:replace="fragments.html :: fragment-footer-css"></div>
    <link rel="stylesheet" href="/css/khs/as.css">
    <style>
        
      
    </style>

</head>
<body>

<!--+++++++++++++++++++++++++++++++++++-->
<!-- main 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->
<header th:replace="fragments.html :: nav-bar"></header>
<!--+++++++++++++++++++++++++++++++++++-->
<!-- main 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->
    <main>
        
      
            <div class="all_Form">
                <div class="blank" style="background:white;"></div>
                <div class="as_menuform";>
                    <ul >
                        <li class="listyle">
                            <strong>자주 찾는 내용</strong>
                            <ul>
                                <li><a href="/cs/notice">공지사항</a></li>
                                <li><a href="/cs/member_service" >회원혜택/서비스</a></li>
                                <li><a href="/cs/asview" >A/S</a></li>
                                <li><a href="/cs/order_file" >주문결제</a></li>
                                <li><a href="/cs/member_info" >회원정보</a></li>
                                <li><a href="/cs/cancel_refund" >취소/반품</a></li>
                                <li><a href="/cs/delivery" >배송</a></li>
                            </ul>
                        </li>
                          <li class="listyle" >
                            <strong>나의 정보 조회</strong>
                            <ul>
                                <li><a href="" >주문내역 조회</a></li>
                                <li><a href="" >배송조회</a></li>
                                <li><a href="" >반품 신청</a></li>
<!--                                <li><a href="" >아이디 찾기</a></li>-->
<!--                                <li><a href="" >패스워드 찾기</a></li>-->
                            </ul>                            
                        </li>
                        <li class="listyle" >
                            <strong>서비스 안내</strong>
                            <ul>
                                <li><a href="/cs/cs_board" >1:1 문의</a></li>
                                <li><a href="/cs/member_service" >회원 혜택</a></li>
                                <li><a href="/cs/refund_service" >무료 반품 서비스</a></li>
                            </ul>                            
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="as_form">
                    <div class="gongji" style="background-color: white;text-align:left; " >
                    <h2>'무료 반품'서비스</h2>
                    
                    <p>저희는 최상의 서비스 제공을 위하여 노력하고 있습니다. 이러한 노력의 일환으로, 무료 반품 서비스를 제공하고 있습니다.
                        회원과 비회원 모두 무료 배송 및 반품 서비스를 이용하실 수 있습니다.</p>
                    <h4>1.반품 신청</h4>
                    <p>[로그인] > [마이페이지] > [주문 배송] > [취소/반품] > [반품 수량 선택] > [반품 사유 등록] > [환불금액 확인] > [선택상품 주문 반품]</p>
                     <h4>2.반품 배송</h4>
                    
                     <p>구매하신 제품의 반품 신청 접수 후 CJ대한통운에서 3일 내(영업일 기준) 방문 수거가 진행됩니다. 단, 한 번에 여러 개의 상품을 주문하여 따로 배송받으셨더라도,  반품시 한 개의 택배 박스 안에 상품을 포장하여 주시기 바랍니다. </p>
                    <h4>3.환불</h4>
                    
                    <p></p>반품 배송된 상품의 결제 금액은 수거 후 검수 등의 과정을 거쳐 약 7 일 내(영업일 기준)에 취소되어 고객님의 지불 수단에 반영됩니다.</p>
                    <h4>※주의사항</h4>
                    
                    
                        <p>- 상품 수령 후 7일 이내에 상품 미훼손 및 미사용 한 경우에만 반품 접수가 가능합니다.</p>
                        <p>- 포장을 개봉하여 시착 또는 사용하여 상품 등의 가치가 훼손된 경우에는 반품 처리가 불가합니다. </p>                        
                        <p>- 반품 접수 절차 없이 임의로 상품을 반송하실 경우 처리가 지연될 수 있습니다.</p>                        
                        <p>- 반품 배송 후 반송장 번호를 보관해 주세요</p>
                </div>
        
            </div>
            <div class="imgcenter" style="background:white;">         
                <font size="2em">
                    <p><img src="/images/icon/phone.jpg"/></p>
                    <h3>전화 문의</h3>               
                    <p>000-000-0000</p>               
                   <p>월~일 오전 9시 ~오후 8시</p>
                   <p><img class="msg_img" src="/images/icon/message.png"/></p>
                    <h3> 1:1 채팅서비스</h3>
                    <p><a href="" class="chatmoon">1:1 채팅 문의하기</a></p>
                    </font>
                </div>

            <div style="background:white;"></div>
        </div>

            <div style="background:white;"></div>
        </div>

        
    </main>
<!--+++++++++++++++++++++++++++++++++++-->
<!-- footer 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->

<footer th:replace="fragments.html :: footer-body">
</footer>
    
    
    
</body>
</html>