.coupon_status {
  text-align: left;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
  width: 100%;
}
.use_coupon {
  text-align: right;
  text-decoration: underline;
}
.bottom_line_max {
  text-align: left;
  margin-top: 20px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  margin: 20px 0px;
}
.offer_list {
  text-align: left;
  margin: 3px 10px 20px 10px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 18px;
  font-size: 12px;
}
.coupon_code {
  color: #fb5306;
}
.code_info {
  text-align: left;
}
