/* a태그(고객센터 로그인 멤버가입) 속성 */
.gray_atag {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

/* a태그(신상품 남성 여성 아동 세일) 속성 */
.black_atag {
  color: black;
  text-decoration: none;
}

/* a태그(신상품 남성 여성 아동 세일) 속성 */
.white_atag {
  color: white;
  text-decoration: none;
}

.nav1 {
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: 37px;
  /* 부모 div 테이블 */
  display: table;
}
.nav1_logo {
  width: 40px;
  height: 40px;
  background-color: burlywood;
  float: left;
  margin-left: 25%;
}
.nav1_text {
  display: table-cell;

  text-align: right;

  /* 부모 div의 수직에 맞춰 중앙정렬 */
  vertical-align: middle;

  font-size: 12px;
  padding-right: 5%;
  color: rgb(49, 49, 49);
}

.nav2 {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 1;
}
.nav2_category {
  width: 450px;
  height: 70px;
  background-color: white;
  display: inline-block;
  margin: 0 auto;
  /* float:left; */

  /* 부모테이블로 만들기 */
  display: table;
  /* z-index: 9; */
}
.li-inline {
  text-align: center;
  /* ul li 간격 주기 */
  margin-right: 0px;

  /* 자식테이블에서 수직정렬하기 */
  display: table-cell;
  vertical-align: middle;
  padding: 0px;
}
.li-inline li {
  /* display:inline-block =>이 요소들이 전부 왼쪽으로 즉 옆으로 정렬된다. */
  display: inline-block;
  text-align: center;

  font-weight: 500;
  font-size: 17px;
  /* ul li 간격 주기 */
  margin-right: 0px;
}

/* *********************************** */
/* 네비게이션바 밑줄 */
.nav2_category a {
  position: relative;
  padding: 20px 12px;
}
.nav2_category a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: black;
}
.nav2_category a:hover::after {
  width: 100%;
}

/*==== = = = = = =   */
.position {
  position: absolute;
  top: 12px;
  right: 260px;
  /* z-index: 1; */
  display: block;
  float: left;
}
.position1 {
  position: absolute;
  top: 12px;
  right: 130px;
  /* z-index: 1; */
}
.position2 {
  position: absolute;
  top: 15px;
  right: 80px;
  /* z-index: 1; */
}
.btn1 img {
  width: 100%;
  height: auto;
  padding-top: 2px;
}
.btn2 img {
  width: 27px;
  height: 27px;
  margin-top: 1px;
  margin-left: -5px;
  object-fit: cover;
}
.btn1 {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;

  background-color: white;
}
.btn2 {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.searchBar {
  width: 150px;
  font-size: 30px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(240, 240, 240);
  border-style: none;
  background-image: url(../images/icon/dod.png);
  background-position: 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 50px;
  position: relative;
  right: -70px;
}

input::placeholder {
  color: gray;
  font-size: 18px;
  font-weight: 300;
  vertical-align: 40px;
  padding-top: 10px;
}

/*==== = = = = = =   */
.detail_category1 {
  position: absolute;

  width: 100%;
  height: 457px;
  background-color: white;
  z-index: 2;
  /* display: none; */
}
.detail_category2 {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 457px;
  background-color: white;
  z-index: 2;
  /* display: none; */
}
.detail_category3 {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 457px;
  background-color: white;
  z-index: 2;
  /* display: none; */
}
.detail_category4 {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 457px;
  background-color: white;
  z-index: 2;
  /* display: none; */
}
.detail_category5 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 457px;
  background-color: white;
  z-index: 2;

  /* display: none; */
}
.background_blur {
  position: absolute;
  padding-top: 107px;

  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
  z-index: 1;
  display: none;
}

.detail_list {
  position: relative;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
  width: 180px;
  height: 450px;
  background-color: white;
  display: inline-block;
  zoom: 1;
  color: rgb(46, 46, 46);
  font-weight: 500;
  margin-left: -4px;
  margin-right: -4px;
}

@media all and (max-width: 1200px) {
  .nav2_category .li-inline .atag1 {
    display: none;
  }
  .nav2_category .li-inline .atag2 {
    display: none;
  }
  .nav2_category .li-inline .atag3 {
    display: none;
  }
  .nav2_category .li-inline .atag4 {
    display: none;
  }
  .nav2_category .li-inline .atag5 {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .detail_category1 .detail_list {
    display: none;
  }
  .detail_category2 .detail_list {
    display: none;
  }
  .detail_category3 .detail_list {
    display: none;
  }
  .detail_category4 .detail_list {
    display: none;
  }
  .detail_category5 .detail_list {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .detail_category1 {
    visibility: hidden;
  }
  .detail_category2 {
    visibility: hidden;
  }
  .detail_category3 {
    visibility: hidden;
  }
  .detail_category4 {
    visibility: hidden;
  }
  .detail_category5 {
    visibility: hidden;
  }
}
@media all and (max-width: 1250px) {
  .product_thum {
    width: 34vw;
    height: 40vw;
  }
  .product_div {
    font-size: 1.3vw;
  }
}
@media all and (max-width: 1070px) {
  .product_thum {
    width: 60vw;
    height: 70vw;
  }
  .product_div {
    font-size: 1.8vw;
  }
}

.gray_font {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.gray_font a {
  text-decoration: none;
  color: rgb(138, 138, 138);
}
.gray_font a:hover {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
