<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <!-- header nav css 수입경로-->
    <div th:replace="fragments.html :: fragment-header-navbar"></div>

    <title>Login</title>


    <link rel="stylesheet" href="/css/khs/footer.css"/>
    <script src="/js/login.js"></script>
    <!--  main js  -->
    <!-- main css -->
    <style>


        .login_blank {
            padding: 0px 0px 50px 0px;
        }

        .login_mainform p {
            text-align: center;
            font-size: 15px;
            color: #999999;
            padding-bottom: 30px;
        }

        .loginform {
            padding-bottom: 30px;
        }

        .infor_text input {
            width: 400px;
            height: 40px;
            padding: 5px;
            border-color: black;
            margin-top: 30px;
            border-width: 1px;
            font-size : 14px;
        }
        input::-webkit-input-placeholder { font-size: 90%; }
        input::-moz-placeholder { font-size: 90%; }
        input:-ms-input-placeholder { font-size: 90%; }
        input:-moz-placeholder { font-size: 90%; }
        input::placeholder { font-size: 90%; }
        input:focus { outline: none; }
        .e_young {
            font-size: 14px;
            margin-top: 40px;
        }

        .scroll_box {
            overflow-y: scroll;
            height: 110px;
            padding: 15px 8px;
            border: 1px solid #d1d1d1;
            margin-left: 39%;
            margin-right: 39%;
            font-size: 12px;
        }
        .scroll_box::placeholder{
            font-size : 18px;
        }
        .e_yooung_check {
            font-size: 13px;
        }

        .button_log {
            margin-top: 40px;
            padding: 25px;
        }

        .login_btn {
            width: 400px;
            height: 50px;
            background-color: black;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .login_need1,
        .login_need2,
        .login_need3,
        .login_need4,
        .login_need5,
        .login_check1,
        .login_check2,
        .login_check3,
        .login_check4,
        .login_check5 {
            padding-left: 0px;
            font-size: 8px;
            color: red;
        }

        .gray {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            top: 0;
        }

        .login_display {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            top: 0;
        }

        .e_young_box {
            background-color: white;
            margin: 10% 20% 0px 34%;
            width: 600px;
            height: 85px;
            opacity: 1;
            border-radius: 10px;
        }

        .e_young_write {
            padding: 10px 0px 0px 10px;
            text-align: left;
            font-size: 14px;
        }

        .e_young_btn1 {
            margin: 11px -5px 3% 80%;
            background-color: black;
            color: white;
        }
    </style>
    <!--  main jquery  -->
    <script>
        $(document).ready(function () {
            $("#login_btn").click(function () {
                checkform();
            });
            $(".gray").hide();

            var login_need1 = $("#login_need1");
            var login_need2 = $("#login_need2");
            var login_need3 = $("#login_need3");
            var login_need4 = $("#login_need4");
            var login_need5 = $("#login_need5");
            var login_check1 = $("#login_check1");
            var login_check2 = $("#login_check2");
            var login_check3 = $("#login_check3");
            var login_check4 = $("#login_check4");
            var login_check5 = $("#login_check5");

            login_need1.hide();
            login_need2.hide();
            login_need3.hide();
            login_need4.hide();
            login_need5.hide();
            login_check1.hide();
            login_check2.hide();
            login_check3.hide();
            login_check4.hide();
            login_check5.hide();

            $("#nickname").keyup(function () {
                if ($("#nickname").val().split(" ").join("") != "") {
                    login_need1.hide();
                }
                if (checkID($("#nickname").val()) == false) {
                    $(".nickname").css("border-color","red");
                    login_check1.show();
                } else {
                    login_check1.hide();
                    $(".nickname").css("border","1px solid black");
                }
            });
            $("#password").keyup(function () {
                if ($("#password").val().split(" ").join("") != "") {
                    login_need2.hide();
                }
                if (checkPwd($("#password").val()) == false) {
                    $(".password").css("border-color","red");
                    login_check2.show();
                } else {
                    login_check2.hide();
                    $(".password").css("border","1px solid black");
                }
            });
            $("#password2").keyup(function () {
                if ($("#password2").val().split(" ").join("") != "") {
                    login_need3.hide();
                }
                if ($("#password").val() != $("#password2").val()) {
                    $(".password2").css("border-color","red");
                    login_check3.show();
                } else {
                    login_check3.hide();
                    $(".password2").css("border","1px solid black");
                }
            });
            $("#name").keyup(function () {
                if ($("#name").val().split(" ").join("") != "") {
                    login_need4.hide();
                }
                if (checkName($("#name").val()) == false) {
                    $(".name").css("border-color","red");
                    login_check4.show();
                } else {
                    login_check4.hide();
                    $(".name").css("border","1px solid black");
                }
            });
            $("#phone").keyup(function () {
                if ($("#phone").val().split(" ").join("") != "") {
                    login_need5.hide();
                }
                if (checkPhone($("#phone").val()) == false) {
                    $(".phone").css("border-color","red");
                    login_check5.show();
                } else {
                    login_check5.hide();
                    $(".phone").css("border","1px solid black");
                }
            });

            function checkform() {
                var uid = $("#nickname").val();
                if (uid.split(" ").join("") == "") {
                    login_need1.show();
                    $("#nickname").val("");
                } else if (uid.split(" ").join("") != "") {
                    login_need1.hide();
                }
                var pwd = $("#password").val();
                if (pwd.split(" ").join("") == "") {
                    login_need2.show();
                    $("#password").val("");
                } else if (pwd.split(" ").join("") != "") {
                    login_need2.hide();
                }
                var pwd2 = $("#password2").val();
                if (pwd2.split(" ").join("") == "") {
                    login_need3.show();
                    $("#password2").val("");
                } else if (pwd2.split(" ").join("") != "") {
                    login_need3.hide();
                }
                var name = $("#name").val();
                if (name.split(" ").join("") == "") {
                    login_need4.show();
                    $("#name").val("");
                } else if (name.split(" ").join("") != "") {
                    login_need4.hide();
                }
                var phone = $("#phone").val();
                if (phone.split(" ").join("") == "") {
                    login_need5.show();
                    $("#phone").val("");
                } else if (phone.split(" ").join("") != "") {
                    login_need5.hide();
                }

                if ($(".e_young_check").prop("checked") == false) {
                    $(".gray").show();
                }
            }

            $("#e_young_btn1").click(function () {
                $(".gray").hide();
            });
        });
    </script>
</head>
<body>
<!--+++++++++++++++++++++++++++++++++++-->
<!-- header 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->
<!-- header nav body 수입경로 -->
<header th:replace="fragments.html :: nav-bar"></header>

<!--+++++++++++++++++++++++++++++++++++-->
<!-- main 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->
<main>
    <div class="login_blank"></div>
    <div class="loginform">
        <div class="login_mainform">
            <h2>쇼핑몰 멤버 가입</h2>
            <p>
                멤버가 되어 쇼핑몰이 제공하는<br/>
                최고의 제품과 혜택을 만나보세요.
            </p>
        </div>
        <form name="login_all_form" action="#"
              th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
            <div class="info_blank">
                <div class="infor_text">
                    <input
                            type="text"
                            class="nickname"
                            id="nickname"
                            th:field="*{nickname}"
                            placeholder="사용하실 ID를 입력해주세요"
                            required
                    />
                </div>
                <span class="login_need1" id="login_need1"
                >필수 입력 항목입니다.</span
                >
                <span class="login_check1" id="login_check1"
                >영어 대문자 소문자, _@ 5~14자리</span
                >

                <div class="infor_text">
                    <input
                            type="text"
                            class="email"
                            id="email"
                            th:field="*{email}"
                            placeholder="사용하실 Email을 입력해주세요"
                            required
                    />
                </div>

                <div class="infor_text">
                    <input
                            type="password"
                            class="password"
                            id="password"
                            th:field="*{password}"
                            placeholder="영문 대 소문+숫자 8~16자리"
                    />
                </div>
<!--                placeholder="영문 대 소문+숫자+특수문자 8~16자리(괄호(),<> 사용불가)"-->

                <span class="login_need2" id="login_need2"
                >필수 입력 항목입니다.</span
                >
                <!--                TODO: <> 사용하고 싶으면 규칙에 맞춰서 삽입할 것 -->
                <span class="login_check2" id="login_check2">영문 대 소문+숫자+특수문자 8~16자리(괄호(), &lt;&gt; 사용불가)</span>
                <div class="infor_text">
                    <input
                            type="password"
                            class="password2"
                            id="password2"
                            placeholder="패스워드를 다시 입력해 주세요"
                    />
                </div>
                <span class="login_need3" id="login_need3"
                >필수 입력 항목입니다.</span
                >
                <span class="login_check3" id="login_check3"
                >패스워드가 같지 않습니다.</span
                >
                <div class="infor_text">
                    <input
                            type="text"
                            class="name"
                            id="name"
                            placeholder="이름을 입력해 주세요."
                    />
                </div>
                <span class="login_need4" id="login_need4"
                >필수 입력 항목입니다.</span
                >
                <span class="login_check4" id="login_check4"
                >한글과 영문만 입력 가능합니다.</span
                >
                <div class="infor_text">
                    <input
                            type="text"
                            class="phone"
                            id="phone"
                            placeholder="휴대폰번호 '-'표 없이 입력해 주세요."
                    />
                </div>
                <span class="login_need5" id="login_need5"
                >필수 입력 항목입니다.</span
                >
                <span class="login_check5" id="login_check5"
                >숫자만 입력 가능합니다.</span
                >
            </div>
            <div class="e_young">
                <p><b>이용약관</b></p>
            </div>
            <div class="scroll_box">
                <p>제 1 장 총 칙</p>
                <p>제 1 조 (목적)</p>
                <p>
                    이 약관은 {COMPANY_NAME}(이하 "사이트"라 합니다)에서 제공하는
                    인터넷서비스(이하 "서비스"라 합니다)의 이용 조건 및 절차에 관한
                    기본적인 사항을 규정함을 목적으로 합니다. 제 2 조 (약관의 효력 및
                    변경) ① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게
                    공지함으로써 효력을 발생합니다. ② 사이트는 이 약관의 내용을 변경할
                    수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는
                    통지함으로써 효력을 발생합니다. 제 3 조 (용어의 정의) 이 약관에서
                    사용하는 용어의 정의는 다음과 같습니다. ① 회원 : 사이트와 서비스
                    이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는
                    단체를 말합니다. ② 신청자 : 회원가입을 신청하는 개인 또는 단체를
                    말합니다. ③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이
                    정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다. ④ 비밀번호
                    : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원
                    자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을
                    말합니다. ⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는
                    것을 말합니다. 제 2 장 서비스 이용계약 제 4 조 (이용계약의 성립) ①
                    이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로
                    간주됩니다. ② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용
                    신청에 대하여 사이트가 승낙함으로써 성립합니다. 제 5 조 (이용신청)
                    ① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청
                    양식에서 요구하는 이용자 정보를 기록하여 제출해야 합니다. ②
                    가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인
                    것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는
                    법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다. 제
                    6 조 (이용신청의 승낙) ① 사이트는 신청자에 대하여 제2항, 제3항의
                    경우를 예외로 하여 서비스 이용신청을 승낙합니다. ② 사이트는 다음에
                    해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지
                    승낙을 유보할 수 있습니다. 가. 서비스 관련 설비에 여유가 없는 경우
                    나. 기술상 지장이 있는 경우 다. 기타 사이트가 필요하다고 인정되는
                    경우 ③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수
                    있습니다. 가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우 나.
                    이용자 정보를 허위로 기재하여 신청한 경우 다. 사회의 안녕질서 또는
                    미풍양속을 저해할 목적으로 신청한 경우 라. 기타 사이트 소정의
                    이용신청요건을 충족하지 못하는 경우 제 7 조 (이용자정보의 변경)
                    회원은 이용 신청시에 기재했던 회원정보가 변경되었을 경우에는,
                    온라인으로 수정하여야 하며 변경하지 않음으로 인하여 발생되는 모든
                    문제의 책임은 회원에게 있습니다. 제 3 장 계약 당사자의 의무 제 8
                    조 (사이트의 의무) ① 사이트는 회원에게 각 호의 서비스를
                    제공합니다. 가. 신규서비스와 도메인 정보에 대한 뉴스레터 발송 나.
                    추가 도메인 등록시 개인정보 자동 입력 다. 도메인 등록, 관리를 위한
                    각종 부가서비스 ② 사이트는 서비스 제공과 관련하여 취득한 회원의
                    개인정보를 회원의 동의없이 타인에게 누설, 공개 또는 배포할 수
                    없으며, 서비스관련 업무 이외의 상업적 목적으로 사용할 수 없습니다.
                    단, 다음 각 호의 1에 해당하는 경우는 예외입니다. 가.
                    전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우
                    나. 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의
                    요청이 있는 경우 다. 기타 관계법령에서 정한 절차에 따른 요청이
                    있는 경우 ③ 사이트는 이 약관에서 정한 바에 따라 지속적, 안정적으로
                    서비스를 제공할 의무가 있습니다. 제 9 조 (회원의 의무) ① 회원은
                    서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다. 가. 다른
                    회원의 ID를 부정하게 사용하는 행위 나. 서비스에서 얻은 정보를
                    사이트의 사전승낙 없이 회원의 이용 이외의 목적으로 복제하거나 이를
                    변경, 출판 및 방송 등에 사용하거나 타인에게 제공하는 행위 다.
                    사이트의 저작권, 타인의 저작권 등 기타 권리를 침해하는 행위 라.
                    공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을
                    타인에게 유포하는 행위 마. 범죄와 결부된다고 객관적으로 판단되는
                    행위 바. 기타 관계법령에 위배되는 행위 ② 회원은 관계법령, 이
                    약관에서 규정하는 사항, 서비스 이용 안내 및 주의 사항을 준수하여야
                    합니다. ③ 회원은 내용별로 사이트가 서비스 공지사항에 게시하거나
                    별도로 공지한 이용 제한 사항을 준수하여야 합니다.
                </p>
            </div>
            <div>
                <input
                        type="checkbox"
                        name="e_young_check"
                        class="e_young_check"
                        value="약관동의"
                /><span class="e_yooung_check">[필수] 약관에 동의 합니다.</span>
            </div>
            <div class="button_log">
                <button type="button" class="login_btn" id="login_btn">
                    <b>회원가입하기</b>
                </button>
            </div>
        </form>
    </div>
</main>
<!--+++++++++++++++++++++++++++++++++++-->
<!-- footer 부분 -->
<!--+++++++++++++++++++++++++++++++++++-->

<div class="footer">
    <div class="footer">
        <div class="footer_navi1">
            <div class="footer_menu_1">
                <p><a href="">로그인</a></p>
                <p><a href="">회원가입</a></p>
            </div>
            <div class="footer_menu_2">
                <p>고객센터</p>
                <a href="http://127.0.0.1:5500/order_file.html">주문/결제</a>
                <a href="http://127.0.0.1:5500/delivery.html">배송</a>
                <a href="http://127.0.0.1:5500/gongji.html">공지사항</a>
                <a href="http://127.0.0.1:5500/loginservice.html"
                >회원혜택/서비스</a
                >
                <a href="http://127.0.0.1:5500/asview.html">A/S</a>
                <a href="http://127.0.0.1:5500/cancel_refund.html">취소/반품</a>
                <a href="http://127.0.0.1:5500/login_info.html">회원정보</a>
            </div>
            <div class="footer_menu_3">
                <p>ABOUT PROJECT</p>
                <a href="">프로젝트에 관하여</a>
            </div>
        </div>
        <div class="footer_navi2">
            <p>대한민국</p>
        </div>
    </div>
</div>

<div class="gray">
    <div
            class="e_young_box"
            aria-hidden="false"
            style="display: block; overflow-y: auto"
    >
        <div class="e_young_box1" style="min-height: 0">
            <div class="e_young_write">이용약관에 동의 해주세요.</div>
            <div class="e_young_btn">
                <button class="e_young_btn1" id="e_young_btn1">확인</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
